octree/external
tensorflow/libs/object
tensorflow/libs/Makefile
caffe-official
*.pyc
*.vscode
*.zip
caffe/experiments/dataset
caffe/experiments/models
caffe/experiments/*.log
tensorflow/script/dataset
tensorflow/script/logs
dist
build
__pycache__
*.egg-info/
.vscode/
*.pyd
*.so
*.png
*.fig
log
ae_output
pytorch/projects/logs
pytorch/projects/data