octree/external
tensorflow/libs/object
tensorflow/libs/Makefile
caffe-official
*.pyc
*.vscode
*.zip
caffe/experiments/dataset
caffe/experiments/models
caffe/experiments/*.log
tensorflow/script/dataset
tensorflow/script/logs
dist
build
__pycache__
*.egg-info/
.vscode/
*.pyd
*.so
*.png
*.fig
log
ae_output
tensorflow/script/configs/default_hrnet_tst7.yaml
tensorflow/script/configs/seg_aenet_nncad.yaml
tensorflow/script/configs/seg_hrnet_nncad.yaml
tensorflow/script/configs/seg_hrnet_nncad_cld.yaml
tensorflow/script/configs/seg_hrnet_nncad_trn7.yaml
tensorflow/script/configs/seg_hrnet_nncad_tst7.yaml
tensorflow/script/configs/seg_unet_nncad.yaml
tensorflow/script/configs/seg_unet_nncad_trn7.yaml
tensorflow/script/configs/seg_unet_nncad_tst7.yaml
*.bak
*.yaml
